body {
	background: #fff;
	text-align: center;
	display: block;
	margin: 8px;
}

#keywords h1 {
	text-align: center;
	color: #2b8699;
	font-size: 100px;
	font-weight: 900;
}

#keywords h2 {
	text-align: center;
	color: grey;
	font-size: 100px;
}

.j oin h1,h3,p, {
	display: inline-block;
	text-align: center;
	color: grey;
	font-size: 70px;
}
.join p{
	display: inline-block;
	text-align: center;
	color: grey;
	font-size: 170px;
}


#keywords p {
	text-align: center;
	color: grey;
	font-size: 30px;
}

#banner {
	text-align: center;
}